body {
  background-color: #31AFD4;
  font-family: 'Montserrat';
  font-size: 18px;
  color: #050505;
}


h1 {
        font-family: 'Righteous';
        font-weight: 500;
        font-size: 54px;
        color: #FF3366;
      } 

   #mydiv f {
     font-family:"Alegreya";
     font-size: 88px;
     color: #F7EBEC;
   }